



<button type="button" class="btn btn-success">Reserva de actividad</button>
<button type="button" class="btn btn-success">Ver Reservas</button>
<button type="button" class="btn btn-success">Modificar reserva</button>
<button type="button" class="btn btn-success">Modificar mis datos</button>
<button type="button" class="btn btn-success">Estado de cuenta</button>
<button type="button" class="btn btn-success">Pagar</button>
<button type="button" class="btn btn-alert">Cerrar Sesion</button>








